*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;/*全体をボーダーボックス指定*/
}
html{
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
body {
  text-size-adjust: 100%;
  color: rgb(255, 255, 255);
  font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  background: rgb(0, 0, 0);
  margin:0;
  padding:0;
}
/* latin-ext */
@font-face {
  font-family: 'Modern Antiqua';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/modernantiqua/v12/NGStv5TIAUg6Iq_RLNo_2dp1sL1NYWqEcw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Modern Antiqua';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/modernantiqua/v12/NGStv5TIAUg6Iq_RLNo_2dp1sL1DYWo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/**************/
/*side-wrapper*/
/**************/
a{text-decoration: none;color:#fff;}
li{list-style: none;}
img{vertical-align:middle;}
p{
  font-size:0.975em;
  font-weight:200;
  letter-spacing:0.08em;
  line-height:2.0;
}
.main-wrapper{
  text-transform: uppercase;
  margin:0;
  padding:0;
}
/*side-wrapper css*/
.side-wrapper{
  display:block;
  position:fixed;
  right:0;
  width:20%;
  height: 100%;
}
.side-wrapper-container{
  padding-top:2.4em;
  padding-left: 20%;
}
.side-wrapper .logo{padding-bottom:2.4em;}
.side-menu li{padding:0.70em 0;}
.side-menu li a{
  color: #fff;
  font-size:0.92em;
  font-weight:500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family:'Modern Antiqua', 'Noto Sans JP',serif;
}

.side-menu li a:hover span{animation:animate 0.9s infinite linear;}
@keyframes animate{
  0%{color:#484848;}
  18%{color:#484848;}
  20%{color:#ffff00;}
  30%{color:#484848;}
  35%{color:#ffff00;}
  70%{color:#484848;}
  85%{color:#fff;}
  90%{color:#484848;}
  100%{color:#484848;}
}
.side-menu li a:hover span:nth-child(1){animation-delay:.1s;}
.side-menu li a:hover span:nth-child(2){animation-delay:.2s;}
.side-menu li a:hover span:nth-child(3){animation-delay:.3s;}
.side-menu li a:hover span:nth-child(4){animation-delay:.4s;}
.side-menu li a:hover span:nth-child(5){animation-delay:0.5s;}
.side-menu li a:hover span:nth-child(6){animation-delay:0.6s;}
.side-menu li a:hover span:nth-child(7){animation-delay:0.7s;}
.sns-icons{
  padding-top:3.3em;
  display:flex;
  height:36px;
}
.sns-icons ul{display:flex;flex-direction: row;}
.sns-icons li{padding-right:1.0em;}
.sns-icons li:hover{opacity:0.6;}
/*ここまで*/
.contents{width:80%;}
/*************/
/*top-wrapper*/
/*************/
.top-wrapper img{width:100%;}
/*ここまで*/
/*******/
/*image*/
/*******/
.photos {
  margin:100px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 5% 5% 0 5%;
}
.photos > *:first-child::after {
  content: "";
  width: 0px;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.photo__item {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100vw;
	width: 100%;
  height:60vh;
  cursor: pointer;
}
.photo__item-img {
  display: block;
  height: calc(96% - 5px);
  width: calc(96% - 5px);
  margin: 2%;
}
/* canvas */
.photo__item-img canvas {
  width: 100%!important;
  height: 100%!important;
}
.photo__item-img img {
	width: 100%;
	display: block;
  object-fit: cover;
}
/* オンマウス時の画像 */
.photo__item-img img:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}
.photo__item:hover .photo__item-img img:nth-child(2) {
	opacity: 1;
}
.js .photo__item-img img {
	display: none;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	padding: 0 5% 5% 5%;
}
.flex p{
	width: 33.33%;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size:14px;
}
.flex h5{display:none;}
/*ここまで*/
/*****************/
/*message-wrapper*/
/*****************/
.message-wrapper{
  width:60%;
  margin:80px auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading{
  position:relative;
  display:inline-block;
  text-transform: uppercase;
  top:0;
  left:0;
  width:250px;
  height:65px;
  line-height:65px;
  margin-bottom:90px;
  font-size:3.425em;
  font-weight:200;
  letter-spacing:0.05em;
  font-feature-settings: "palt";
	-webkit-text-size-adjust: none;
  font-family:'Modern Antiqua', 'Noto Sans JP',serif;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  position: relative;
  color:#000;
  transition:all 0.5s;
  transition-delay:0.2s;
}
.rect{
  position: absolute;
  top:-5px;
  left:0;
  height:65px;
  background:#fff;
}
.rect.is-active{
  animation:curtain 0.4s ease-in;
}
@keyframes curtain{
  0%{width:250px;transform:translateX(100%);}
  10%{width:250px;transform:translateX(0);}
  75%{width:60px;}
  100%{width:0;}
}
.heading.is-active{
  color:#fff;
}
.message-wrapper p{text-align: left;padding-bottom:80px;}
/*こまで*/
/***************/
/*photo-wrapper*/
/***************/
.photo-wrapper{padding:0;margin:0;width:100%;margin:50px 0;text-align: center;}
.photo-contents{width:100%;display:block;}
.photo-contents img{width:33.333%;}
.photo-contents img.photo-size{width:100%;}

/*こまで*/
/***************/
/*bland-wrapper*/
/***************/
.container{
  width:80%;
  height:100%;
  margin:0 auto;
  padding:0 0 50px;
  border-bottom: 1px solid #eff;
}
.last{border:none;}
.bland-wrapper{text-align: center;padding:50px 0 ;}
.bland-items{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.bland-item{width:25%;}
.bland-item img{width:62%;justify-content:center;}
.box{
  opacity: 0;
  transition: opacity .6s linear 0s, transform .6s linear 0s,filter .6s linear 0s;
  overflow: hidden;}
.box.right{
  filter: blur(15px);
  transform: translate3d(60px, 0, 0) scaleX(0) skew(15deg, 15deg);
}
.box.left{transform: translate3d(-60px, 0, 0);}
.box.bottom{transform: translate3d(0, 60px, 0);}
.box.is-active {

  filter: blur(0px);
  opacity: 1;
  transform: translate(0) scaleX(1) skew(0deg, 0deg);
}
.bland-text{
  display:flex;
  width:76%;
  margin:0 auto;
  padding:8px 0 50px 0;
  justify-content:flex-start;
}
/*こまで*/
/*****************/
/*project-wrapper*/
/*****************/
.project-wrapper{padding:50px 0 ;text-align: center;}
.project-item{
  clear: both;
	overflow: hidden;
	padding-bottom: 50px;
}
.project-item{padding:0 10px 90px 10px; }
.project-text{width:100%;text-align: left;}
.project-text p{margin-bottom: 20px;}
.project-photo img{float:left;margin: 5px 15px 20px;}

/*こまで*/
/*****************/
/*company-wrapper*/
/*****************/
.company-wrapper{text-align: center;padding-bottom:150px  !important;}
.left-item{width:38%;}
.right-item{width:62%;}
.company-wrapper .map-text{text-align:left;margin-right:3%;}
.company-wrapper .map{position:relative; padding-bottom:20%;}
.map-wrapper{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
}
iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/*ここまで*/
/********/
/*footer*/
/********/
footer{
  height:160px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  padding:0 10px;
  word-break: break-all;
}
footer p{font-size:12px;letter-spacing:0.05em;}
footer a{color:#0066ff;}

/**************/
/*レスポンシブ*/
/**************/
@media all and (min-width:781px){
  header{display:none;}
  }
@media all and (max-width:780px){
  body{
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
  .side-wrapper{display:none;}
  .contents{width:100%;}
  header{
    width:100%;
    margin:0;
    padding:0;
    position:fixed;
    z-index:9;
    height: 60px;
		background:rgba(5,5,5,0.65);
		border-bottom: 1px solid #333;
  }

  .logo{
    text-align:center;
    line-height: 60px;
  }
  /*ハンバーガーメニュー*/
  #menu-btn-check{
    display:block;
    position:absolute;
    left:83%;
    margin-top:5px;
    opacity:0;
  }
  .menuBtn{
    display:block;
    float:right;
    position:relative;
    right:1%;
    margin-top:-49px;
    width:42px;
    height:42px;
    cursor: pointer;
    z-index:1000;
  }
  .menuBtn span:nth-child(1),.menuBtn span:nth-child(2),.menuBtn span:nth-child(3){
    display:block;
    position:absolute;
    top:20px;
    left:40%;
    width:18px;
    height: 2px;
    background:#fff;
    transition: all .4s;
  }
  .menuBtn span:nth-child(1){
    top:14px;
  }
  .menuBtn span:nth-child(3){
    top:26px;
  }
  input[type="checkbox"]{
    display:block;
    position:absolute;
    top:20%;
    left:30%;
  }
  input[type="checkbox"]:checked + .menuBtn span:nth-child(1){
    transform-origin:center center;
    /*transform:translateY(6px) rotate(45deg);*/
    /*top:20px;*/
    transform:translateY(6px) rotate(-45deg);
  }
  input[type="checkbox"]:checked + .menuBtn span:nth-child(2){
    /*background:transparent;*/
    left:0%;
    opacity:0;
    animation: active-menu-bar02 .8s forwards;
  }
  @keyframes  active-menu-bar02 {
    100%{height:0;}
  }
  input[type="checkbox"]:checked + .menuBtn span:nth-child(3){
    transform-origin:center center;
    /*transform:translateY(-6px) rotate(-45deg);*/
    /*top:20px;*/
    transform:translateY(-6px) rotate(-135deg);
  }
  #mainnav{
    display:block;
    background:#000;
    width:100%;
    position:absolute;
    top:-400px;
    transition:all 0.6s ease;
  }
  #mainnav .sp-menu li{
    padding:16px 0;
    border-bottom: 1px solid #dff;
  }
  #mainnav .sp-menu li a:hover span{animation:animate1 0.9s infinite linear;}
  @keyframes animate1{
    0%{color:#484848;}
    18%{color:#484848;}
    20%{color:#ffff00;}
    30%{color:#484848;}
    35%{color:#ffff00;}
    70%{color:#484848;}
    85%{color:#fff;}
    90%{color:#484848;}
    100%{color:#484848;}
  }
  #mainnav .sp-menu li a:hover span:nth-child(1){animation-delay:.1s;}
  #mainnav .sp-menu li a:hover span:nth-child(2){animation-delay:.2s;}
  #mainnav .sp-menu li a:hover span:nth-child(3){animation-delay:.3s;}
  #mainnav .sp-menu li a:hover span:nth-child(4){animation-delay:.4s;}
  #mainnav .sp-menu li a:hover span:nth-child(5){animation-delay:0.5s;}
  #mainnav .sp-menu li a:hover span:nth-child(6){animation-delay:0.6s;}
  #mainnav .sp-menu li a:hover span:nth-child(7){animation-delay:0.7s;}
  #mainnav li .fas{padding:0 12px 0 8px;}
  #mainnav .sns{
    width:100%;
    margin-top:-38px;
    padding-left:10px;
    border-bottom: 1px solid #dff;
  }
  input[type="checkbox"]:checked + label + #mainnav {
    top: 60px;
  }
  /**/
  .photo-wrapper img{width:100%;}
  .bland-items{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .bland-item{width:100%;}
  .project-photo img{
    clear:both;
    margin: 5px 15px 20px 0;
  }
  .company-wrapper{padding-bottom:150px !important;}
  .map-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .left-item,.right-item{width:100%;}
  .company-wrapper .map{
    margin:20px 0 20px;
    padding-bottom:40%;
  }
  iframe{
    width:100%;
    height:200%;
  }
}
@media screen and (max-width:640px) {
  .photos {
  		display: grid;
  		grid-template-columns: 1fr;
  		grid-auto-rows: 1fr;

  }
  .photo-item{height:100vh;}
  .photo__item-img {
      display: block;
      height: calc(96% - 5px);
      width: calc(96% - 5px);
      margin: 5px auto;
  }
  .photo__item-img canvas {
      width: 100%!important;
      height: 100%!important;
  }
  .flex p{
  	width:100%;
  }
  .flex h5{display:block;text-align: center;margin:0 auto;padding:5px;border-bottom:1px solid #0000ff;margin-bottom:10px; }
}
@media and all (max-width:545px){
  .heading{font-size:44px;}
}
@media and all (max-width:330px){
  .heading{font-size:36px;}
  .photo-item{height:45vh;}
}
@media and all (max-width:290px){
  .heading{font-size:34px;}
  .photo-item{height:35vh;}
}
